<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468234828266-7kq19nvkmd7rfek0kg3gs6csg94rpch5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468234828266-7kq19nvkmd7rfek0kg3gs6csg94rpch5</string>
	<key>API_KEY</key>
	<string>AIzaSyDu1j8ZXc27bmN0iDMF3-43HzovTvoGT5U</string>
	<key>GCM_SENDER_ID</key>
	<string>468234828266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lefkovitz.readingtracker</string>
	<key>PROJECT_ID</key>
	<string>reading-ta</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-ta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468234828266:ios:c6afe8a6383d0b5cf7da93</string>
	<key>DATABASE_URL</key>
	<string>https://reading-ta.firebaseio.com</string>
</dict>
</plist>